<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.demo.mapper.ItemexchangeinfoMapper">
  <resultMap id="BaseResultMap" type="com.ssm.demo.entity.Itemexchangeinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="donor_id" jdbcType="INTEGER" property="donorId" />
    <result column="donor_name" jdbcType="VARCHAR" property="donorName" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="cell_number" jdbcType="VARCHAR" property="cellNumber" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="donate_item" jdbcType="VARCHAR" property="donateItem" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="address_path" jdbcType="VARCHAR" property="addressPath" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, donor_id, donor_name, city, province, street, cell_number, add_time, donate_item, 
    note, address_path
  </sql>
  <select id="selectByExample" parameterType="com.ssm.demo.entity.ItemexchangeinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from itemExchangeInfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from itemExchangeInfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from itemExchangeInfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.demo.entity.ItemexchangeinfoExample">
    delete from itemExchangeInfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.demo.entity.Itemexchangeinfo">
    insert into itemExchangeInfo (id, donor_id, donor_name, 
      city, province, street, 
      cell_number, add_time, donate_item, 
      note, address_path)
    values (#{id,jdbcType=INTEGER}, #{donorId,jdbcType=INTEGER}, #{donorName,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, 
      #{cellNumber,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{donateItem,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{addressPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.demo.entity.Itemexchangeinfo">
    insert into itemExchangeInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="donorId != null">
        donor_id,
      </if>
      <if test="donorName != null">
        donor_name,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="street != null">
        street,
      </if>
      <if test="cellNumber != null">
        cell_number,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="donateItem != null">
        donate_item,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="addressPath != null">
        address_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="donorId != null">
        #{donorId,jdbcType=INTEGER},
      </if>
      <if test="donorName != null">
        #{donorName,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="cellNumber != null">
        #{cellNumber,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="donateItem != null">
        #{donateItem,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="addressPath != null">
        #{addressPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.demo.entity.ItemexchangeinfoExample" resultType="java.lang.Long">
    select count(*) from itemExchangeInfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update itemExchangeInfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.donorId != null">
        donor_id = #{record.donorId,jdbcType=INTEGER},
      </if>
      <if test="record.donorName != null">
        donor_name = #{record.donorName,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.street != null">
        street = #{record.street,jdbcType=VARCHAR},
      </if>
      <if test="record.cellNumber != null">
        cell_number = #{record.cellNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.donateItem != null">
        donate_item = #{record.donateItem,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.addressPath != null">
        address_path = #{record.addressPath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update itemExchangeInfo
    set id = #{record.id,jdbcType=INTEGER},
      donor_id = #{record.donorId,jdbcType=INTEGER},
      donor_name = #{record.donorName,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      street = #{record.street,jdbcType=VARCHAR},
      cell_number = #{record.cellNumber,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      donate_item = #{record.donateItem,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      address_path = #{record.addressPath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.demo.entity.Itemexchangeinfo">
    update itemExchangeInfo
    <set>
      <if test="donorId != null">
        donor_id = #{donorId,jdbcType=INTEGER},
      </if>
      <if test="donorName != null">
        donor_name = #{donorName,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="cellNumber != null">
        cell_number = #{cellNumber,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="donateItem != null">
        donate_item = #{donateItem,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="addressPath != null">
        address_path = #{addressPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.demo.entity.Itemexchangeinfo">
    update itemExchangeInfo
    set donor_id = #{donorId,jdbcType=INTEGER},
      donor_name = #{donorName,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      cell_number = #{cellNumber,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      donate_item = #{donateItem,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      address_path = #{addressPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.ssm.demo.entity.Itemexchangeinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="donor_id" jdbcType="INTEGER" property="donorId" />
    <result column="donor_name" jdbcType="VARCHAR" property="donorName" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="cell_number" jdbcType="VARCHAR" property="cellNumber" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="donate_item" jdbcType="VARCHAR" property="donateItem" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="address_path" jdbcType="VARCHAR" property="addressPath" />
  </resultMap>
  <sql id="Base_Column_List">
    id, donor_id, donor_name, city, province, street, cell_number, add_time, donate_item, 
    note, address_path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from itemExchangeInfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from itemExchangeInfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.demo.entity.Itemexchangeinfo">
    insert into itemExchangeInfo (id, donor_id, donor_name, 
      city, province, street, 
      cell_number, add_time, donate_item, 
      note, address_path)
    values (#{id,jdbcType=INTEGER}, #{donorId,jdbcType=INTEGER}, #{donorName,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, 
      #{cellNumber,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{donateItem,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{addressPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.demo.entity.Itemexchangeinfo">
    insert into itemExchangeInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="donorId != null">
        donor_id,
      </if>
      <if test="donorName != null">
        donor_name,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="street != null">
        street,
      </if>
      <if test="cellNumber != null">
        cell_number,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="donateItem != null">
        donate_item,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="addressPath != null">
        address_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="donorId != null">
        #{donorId,jdbcType=INTEGER},
      </if>
      <if test="donorName != null">
        #{donorName,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="cellNumber != null">
        #{cellNumber,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="donateItem != null">
        #{donateItem,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="addressPath != null">
        #{addressPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.demo.entity.Itemexchangeinfo">
    update itemExchangeInfo
    <set>
      <if test="donorId != null">
        donor_id = #{donorId,jdbcType=INTEGER},
      </if>
      <if test="donorName != null">
        donor_name = #{donorName,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="cellNumber != null">
        cell_number = #{cellNumber,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="donateItem != null">
        donate_item = #{donateItem,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="addressPath != null">
        address_path = #{addressPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.demo.entity.Itemexchangeinfo">
    update itemExchangeInfo
    set donor_id = #{donorId,jdbcType=INTEGER},
      donor_name = #{donorName,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      cell_number = #{cellNumber,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      donate_item = #{donateItem,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      address_path = #{addressPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>